<div class="categories" style="">
  <% @categories.each do |category| %>
  <%= link_to "#{category.name}", category_path(category), class: "btn btn-ghost btn-area-fill" %>
  <% end %>

</div>
<div class="margin-negative" style="margin-top: -30px; text-align: right;
    margin-right: 20px; padding-top: -10px;">
  <%= link_to new_category_path do  %>
  <i class="fas fa-plus-circle fa-lg"></i>
  <% end %>

</div>
<div class="container">
<div style="padding-top: 16px;">
    <%= link_to "Add a new Pépite", places_new_path, class: "btn btn-ghost btn-area-fill"  %>
  </div>
  <div class="cards">
    <% @places.each do |place|  %>
    <div class="card" id="place_card">
      <%= link_to "#{place.name}" , place_path(place) %>
      <%= link_to '+', delete_place_path(place), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-options option-remove-link disabled'  %>
      <%= link_to edit_place_path(place), class: "card-options option-edit-link disabled" do %>
      <i class="far fa-edit fa-xs"></i>
      <% end %>
         </div>
    <% end %>
  </div>
</div>

