<div class="categories" style="">
  <div class="btn btn-ghost btn-area-fill" id="category-button-all">
    See all the Pépites
  </div>

  <% @categories.each do |category| %>
  <div class="btn btn-ghost btn-area-fill" id="category-button">
    <%= category.name %>
  </div>
  <% end %>
</div>

<div class="margin-negative" style="margin-top: -30px; text-align: right;
    margin-right: 20px; padding-top: -10px;">
  <%= link_to new_category_path do  %>
  <i class="fas fa-plus-circle fa-lg"></i>
  <% end %>
</div>

<div class="container" style="margin-top: 10px">
  <div class="row my-shuffle-container" id="grid">

 <div class="col-5 col-md-4 col-xl-3 shuffle-item" data-groups='["Default"]' id="place_card" style="margin: 5px;">
    <div class="shuffle-card">
      <%= link_to "Add a new Pépite" ,new_place_path %>
    </div>
    </div>

<% @places.each do |place|  %>
 <div class="col-5 col-md-4 col-xl-3 shuffle-item" data-groups='["<%= place.category.name  %>"]' id="place_card" style="margin: 5px;">
  <div class="shuffle-card">
      <%= link_to "#{place.name}" , place_path(place) %>
      <%= link_to '+', place_path(place), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-options option-remove-link disabled'  %>
      <%= link_to edit_place_path(place), class: "card-options option-edit-link disabled" do %>
      <i class="far fa-edit fa-xs"></i>
      <% end %>
      </div>
        </div>
          <% end %>

  </div>
</div>
<div class="container">
    <div id="map"
     style="width: 100%; height: 400px; margin-top: 25px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

     </div>
     </div>


