  <div class="categories-options">
<%= link_to new_category_path do  %>
  <i class="fas fa-plus-circle fa-lg"></i>
  <% end %>
  <%= link_to "Manage Categories", categories_manage_path, style: "font-size: 0.8rem; padding-top: -10px", class: "manage-categories-link"  %>

<div class="categories">

  <div class="btn btn-ghost" id="category-button-all">
    See all the Pépites
  </div>

  <% @categories.each do |category| %>
  <div class="btn btn-ghost" id="category-button">
    <%= category.name %>
  </div>
  <% end %>
</div>
  </div>

<div id="places-container" class="fluid-container">
<div class="container" style="margin-top: 10px">


  <div id="grid" class="row my-shuffle-container" >

 <div class="mt-3 mb-2 col-6 col-md-4 col-xl-3 shuffle-item" data-groups='["Default"]'  style="top: 0px; left: 0px;">

    <div id="add-new-place-card" class="shuffle-card">
      <div class="shuffle-card-body" style="flex: 1 1 auto; padding: 1.25rem;">
      <%= link_to "Add a new Pépite" ,new_place_path%>
      </div>
    </div>

  </div>

<% @places.each do |place|  %>

  <div class="mt-3 mb-2 col-6 col-md-4 col-xl-3 shuffle-item" data-groups='["<%= place.category.name  %>"]' style="top: 0px; left: 0px;">

    <div class="shuffle-card" id="place_card">
      <div class="shuffle-card-body" style="flex: 1 1 auto; padding: 1.25rem;">
        <%= link_to "#{place.name}" , place_path(place) %>
        <%= link_to '+', place_path(place), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-options option-remove-link'  %>
        <%= link_to edit_place_path(place), class: "card-options option-edit-link" do %>
        <i class="far fa-edit fa-xs"></i>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

  </div>

</div>
</div>


  <div class="container container-map" style="margin-top: 30px;">

    <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>



