<div class="fluid-container" style="position: relative;">
  <div class="row" style=" margin: 0px;">
    <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1473163928189-364b2c4e1135?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=andrew-neel-1-29wyvvLJA-unsplash.jpg');">


      <div class="col-9 offset-1">
        <h1 style="letter-spacing: 8px; font-size: 4rem">pépite</h1>
        <br>
        <h2 style="font-size: 2rem">/pe.pit/  •  French noun</h2>
        <p style="font-size: 1.5rem; opacity:1">a must-do, a must-see, a must-experience.</p>

        <!-- <p style="font-size: 1.5rem; opacity:1">Discover some Pépites</p> -->
        <div class="search-form" style="margin-top: 20px;">
          <select id="user-search-home" class=" js-example-basic-single" style="
          width:200px; position:absolute;">
          <option value=""></option>
          <% @users.each do |user| %>
          <% if user.cities.count == 0 %>
             <option data-nickname="<%= user.nickname.downcase %>" value="<%= user.nickname %>"><%= user.nickname %></option>
          <% else %>
          <option data-nickname="<%= user.nickname.downcase %>" value="<%= user.nickname %>" data-city="<%= user.cities.first.slug %>"><%= user.nickname %></option>
          <% end %>
          <% end %>
        </select>
      </div>

      <div class="search-form" style="margin-top: 20px;">
          <select id="city-search-home" class=" js-example-basic-single" style="
          width:200px; position:absolute;">
          <option value=""></option>
          <% @cities.each do |city| %>
          <option data-name="<%= city.slug %>" value="<%= city.name %>"><%= city.name %></option>
          <% end %>
        </select>
      </div>
<div style="margin-top: 30px;">
          <% if user_signed_in? %>
          <% if @user.cities.count == 0 %>
            <%= link_to "My PépitesBoard", cities_select_path, class: "nav-link btn-ghost btn-home", style: "flex:none; width:200px" %>
          <% else %>
      <%= link_to "My PépitesBoard", dashboard_path(@user.cities.first.id), class: "nav-link btn-ghost btn-home", style: "flex:none; width:200px" %>
      <% end %>
</div>

          <% else %>
      <p style="font-size: 1rem; opacity:1;margin-top: 30px;">Or create your own:</p>
      <div style="display: flex;">


      <%= link_to "Login", new_user_session_path, class: "nav-link btn-ghost btn-home", style: "flex:none"%>

          <%= link_to "Sign Up",  new_user_registration_path, class: "nav-link btn-ghost btn-home", style: "flex:none" %>
          </div>
          <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <div style="position: absolute; bottom: 10px; margin-left: 30px;">
      Photo by Andrew Neel on Unsplash
    </div>
  </div>
</div>

</div>
