<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-1">
      <%= link_to "<<", dashboard_path, class: "btn btn-ghost btn-area-fill"  %>
      </div>
  <div class="col-6 offset-1">
  <div class="place-card">
    <div class="place-card-options">
    <%= link_to '+', place_path(@place), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-options option-remove-link'  %>
      <%= link_to edit_place_path(@place), class: "card-options" do %>
      <i class="far fa-edit fa-xs"></i>
      <% end %>
      </div>
    <div class="place-card-title">
      <%= @place.name  %>
    </div>
    <div class="place-card-address">
    <i class="fas fa-map-marker-alt"></i>
      <%= @place.address %>
    </div>
    <div class="place-card-description">
      <i>"<%= @place.description %>"</i>
    </div>
<div class="review">
  <%= link_to "Add a review", new_place_review_path(@place)  %>
</div>
<div class="review-list">
  <ul>
    <% @place.reviews.each do |review| %>
    <li> <%= review.content %></li>
    <% end %>

  </ul>

</div>

  </div>
</div>
  <div class="col-3 offset-1">
    <h1>Add a review</h1>
    <%= simple_form_for [ @place, @review ] do |f| %>
<%= f.input :content %>
<%= f.input :rating, collection: [1, 2, 3, 4, 5], as: :radio_buttons %>
<%= f.submit %>
<% end %>
</div>
</div>
</div>
