<div class="container">
  <div class="row" style="margin-top: 20px;">

        <div class="col-sm-8 col-md-5 col-xl-5 offset-md-1">

        <div class="category-card ">

        <div>
        <%= simple_form_for(@category) do |f| %>
<%= f.input :name %>
<%= f.submit "Add this category", class: "btn btn-ghost btn-area-fill" %>
<% end %>
        </div>

      </div>
    </div>




        <div class="col-sm-8 col-md-5 col-xl-5">

          <% @categories.each do |category| %>

        <div class="d-flex category-card ">

        <div>
        <%= category.name %>
        </div>


          <div class="category-card-options">

            <%= link_to edit_category_path(category), class: "category-options" do %>
        <i class="far fa-edit fa-xs"></i>
        <% end %>

          <%= link_to category_path(category), method: :delete, data: { confirm: "Are you sure?", title: "Confirm Deletion"}, class: 'category-options' do %>
          <i class="far fa-trash-alt fa-xs"></i>
          <% end %>




        </div>

        </div>
        <% end %>
      </div>

      </div>
    </div>

