<div class="container-fluid form">
  <div class="row">
    <div class="col-6 offset-3">
<%= simple_form_for(@place) do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :description %>
<%= f.association :category, collection: Category.where(user_id: current_user.id).or(Category.where(user_id: nil)) %>
<%= f.submit "Save changes to this Pépite", class: "btn btn-ghost btn-area-fill" %>
<% end %>

    </div>
  </div>
</div>
