<div class="container-fluid">
  <div class="row">
    <div class="show-place-card">
      <div class="col-8 offset-2">
        <div class="show-place-card-info">
          <h1><%= @place.name  %></h1>
          <div class="show-place-card-details">
            <p>"<%= @place.description %>"</p>
            <i class="fas fa-map-marker-alt"></i>
            <a href="#map"><%= @place.address %></a>

            <% if @reviews.count > 0 %>
            <p style="margin-top: 15px;">

            <% @average.times do %>
            <span style="float:left">
              <%= image_tag "diamond-filled.png", style: "width: 20px" %>
            </span>
            <% end %>

            <% (5 - @average).times do %>
            <span style="float: left"><%= image_tag "diamond-empty.png", style: "width: 20px" %></span>
            <% end %>

            </p>
            <% end %>

            <p style="margin-top: 50px; text-align: right">Created by: <% if @place.user == current_user %>
              Myself
              <% else %><%= @place.user.nickname %></p>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @place.reviews.count > 0 %>
    <div class="col-10 col-md-5 col-xl-5 offset-1">
      <div class="show-place-card-reviews">
        <% if @place.user_id != current_user.id %>
        <div class="show-place-card-review">

          <p>Add a review</p>
          <%= simple_form_for [ @place.city, @place, @review ], validates: true do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
          <%= f.submit class: "btn-ghost btn-area-fill" %>
          <% end %>
        </div>

        <% end %>

        <% @reviews.each do |review| %>


        <div class="show-place-card-review">
          <div>
            <em>Posted by:</em> <a href="/users/<%= User.where(id: review.user_id)[0].nickname.downcase %>/cities/<%= User.where(id: review.user_id)[0].cities.first.name.downcase %>"> <%= User.where(id: review.user_id)[0].nickname %></a>



            <% (5 - (review.rating)).times do %>
            <span style="float: right"><%= image_tag "diamond-empty.png", style: "width: 12px" %></span>
            <% end %>

            <% review.rating.times do %>
            <span style="float:right">
              <%= image_tag "diamond-filled.png", style: "width: 12px" %>
            </span>
            <% end %>
          </div>
          <div style="margin-top: 10px;padding-bottom: 15px;">
            <i class="fas fa-quote-left" style="float: left"></i>
            <br>
            <%= review.content %>
            <br>
            <i class="fas fa-quote-right" style="float: right;"></i>
          </div>
        </div>
        <% end %>

      </div>

    </div>

    <div class="map map-show-page-with-reviews col-10 col-md-5 col-xl-5 offset-1 offset-md-0">
      <div id="map"
      style="width: 100%; height: 400px; "
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
  <% else %>

  <div class="map map-show-page col-10 col-md-8 col-xl-8 offset-1 offset-md-2 offset-xl-2">
    <div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
<% end %>
</div>
</div>

